<table>
  <thead>
    <tr>
      <th> <%= @student.f_name %>'s Courses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.registrations.each do |registration| %>
      <tr>
        <td><%= registration.course %></td>
        <td><%= registration.course.professor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
